  <div class="navbar navbar-fixed-bottom">
    <p class="navbar-text pull-left">&copy; Copyright 2014 Totestar</p>
    <p class="navbar-text pull-right">Developed by <a target="_blank" href="http://tejas.io">Tejas Manohar</a></p>
  </div>
</body>
</html>
