<% include partials/header %>

  <% include partials/navbar %>

  <div class="container">
    <center>
        <h1>Totestar
          <br><small><br></small>
          <small>Count your total <a href="https://github.com">GitHub</a> stars</small>
        </h1>
      <form id="home-search" role="search" method="post" action="/search">
        <div class="form-group">
          <input name="username" type="text" class="form-control" placeholder="Enter a GitHhub username" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
    </center>
  </div>

<% include partials/footer %>
